#nav{
    font-size: 70px;
    margin: 0;
    text-align: center;
    background-color: rgb(215, 221, 219);
    color: rgb(90, 92, 92);


}
.main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    border-radius: 15px;
    overflow: hidden;
    max-width: 500px;
    

}
#keys {

    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
    padding: 25px;
}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(161, 160, 160);
    color: black;

    
    

}
button {
    width: 100px;
    height: 100px;
    border-radius: 40px;
    border: 1px solid grey;
    text-align: center;
    background-color: azure;
    font-size: 3rem;
    color: rgb(78, 78, 78);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(176, 182, 187);
}
button:active{
    background-color: rgb(148, 154, 158);

}
.op-btn{
    background-color: gray;
    color: rgb(51, 51, 51);
}